.newsfeed {
  margin-top: 32px;
}

.newsfeedCover {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.newsfeedProfileContainer {
  text-align: center;
  margin-top: -65px;
  background: #fff;
}

.newsfeedProfile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 10px solid #fff;
}

.profileShortInfo {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px 65px;
  padding-top: 0;
  margin-bottom: 33px;
}

.profileShortInfo .item {
  width: 30%;
}

.profileShortInfo .icons {
  display: flex;
  column-gap: 12px;
  justify-content: flex-end;
}

.profileShortInfo .icon {
  background: red;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.newsfeedBottom {
  display: flex;
  column-gap: 15px;
}

.newsfeedinfo {
  max-width: 283px;
  background-color: #fff;
  padding: 29px 27px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.newsfeedleftinfo {
  display: flex;
  justify-content: space-between;
}

.newsfeedinfo h5 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.newsfeedinfo h5 span {
  color: #23d2e2;
}

.newsfeedinfo p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #afb0c0;
  margin-top: 29px;
}

.newsfeedinfo ul {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #afb0c0;
  margin-top: 29px;
}

.newsfeedinfo ul li {
  margin-top: 18px;
}

.newsfeedinfo ul span {
  font-weight: 700;
  margin-right: 25px;
}

.imgholder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 17px;
}

.imgholder .imgs {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.imgholder .imgs:last-child {
  background: #23d2e2;
}

.imgholder .imgs img {
  width: 100%;
  height: 100%;
}

.imgholder .imgs h3 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.videoholder {
  margin-top: 19px;
}

.videoholder .video {
  position: relative;
  margin-bottom: 19px;
  border-radius: 18px;
}

.videoholder .video img {
  width: 100%;
  display: block;
}

.videoholder .video .icon {
  width: 40px;
  height: 40px;
  background: #000;
  border: 2px solid #23d2e2;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoholder .video .playicon {
  color: #fff;
  font-size: 20px;
}

.newsfeedpost {
  max-width: 585px;
}

.newsfeedpost .post {
  height: 200px;
  background: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  padding-bottom: 62px;
  margin-bottom: 40px;
}

.newsfeedpost .post .posterinfo {
  display: flex;
  justify-content: space-between;
}

.newsfeedpost .post .posterinfo .left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
}

.newsfeedpost .post .posterinfo .right h5 {
  font-size: 20px;
}

.posterinfo .left {
  display: flex;
  column-gap: 15px;
}

.posterinfo .left h4 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.posterinfo .left p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #afb0c0;
}

.posttext {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 18px 0;
}

.postinfo {
  border-top: 1px solid #d9d9d9;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.postinfo:after {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 107.7%;
  height: 1px;
  background: #d5d5d5;
  content: "";
}

.likeinfo {
  display: flex;
  column-gap: 13px;
}

.likeinfo img {
  width: 20px;
  height: 20px;
  margin-left: -5px;
}

.likeinfo img:first-child {
  margin-left: 0;
  position: relative;
  z-index: 2;
}

.likeinfo img:nth-child(2) {
  position: relative;
  z-index: 1;
}

.likeinfo p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.commentinfo p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.shareinfo p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.likeaction {
  position: relative;
  color: #d9d9d9;
  padding: 23px 0;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.likeaction:after {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 107.7%;
  height: 100%;
  background: #fcfcfd;
  content: "";
  z-index: -1;
}

.likeaction div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.likeChoose {
  background: #fff;
  padding: 13px;
  border-radius: 50px;
  display: flex;
  column-gap: 10px;
  -webkit-box-shadow: 0px 0px 44px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 44px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 44px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -63px;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.likeactionhover:hover .likeChoose {
  opacity: 1;
  visibility: visible;
}

.comment {
  padding: 20px;
  background: #fff;
  margin-top: -40px;
  margin-bottom: 40px;
}

.commentholder {
  display: flex;
  column-gap: 12px;
  margin: 10px 0;
}

.commentholder img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #d9d9d9;
}

.commentinfo p {
  font-weight: 400;
}

.commentinfo p span {
  font-weight: bold;
}

.loadmore {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
}

.commentwrite {
  display: flex;
  column-gap: 20px;
  margin-top: 18px;
}

.commentwrite img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #d9d9d9;
}

.righttext {
  width: 89%;
}

.commentwrite input {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
}
